#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.traffic-lights {
  position: relative;
  width: 100px;
  height: 350px;
  border: 5px solid #000;
  border-radius: 75px;
  margin-bottom: 10px;
  text-align: center;
}
.light {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  border: 5px solid #fff;
  margin: 20px auto 20px;
  opacity: 0.9;
}
.light-color-red {
  background-color: rgba(224, 105, 103, 1);
}
.light-color-yellow {
  background-color: rgba(233, 232, 91, 1);
}
.light-color-green {
  background-color: rgba(97, 223, 87, 1);
}
.light-cursor {
  border-color: #000;
  opacity: 1
}
.start-btn {
  background-color: #3b91e6;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  padding: 15px 40px;
  font-size: 25px;
  cursor: pointer;
}
.text {
  font-size: 25px;
}
.input-time {
  outline-color: #0853b9;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px 10px;
  width: 50px;
  font-size: 24px;
}
